.loading-container{
    height: 100yh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: "blue";
    z-index: 1000;
    overflow: hidden;
    
    display: flex;
    justify-content:  center;
    align-items:  center;
}